<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/notfound.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div id="landing-header">
        <h1>404</h1>
 		<h1>Upps! Page not found</h1>
		<a href="/index" class="btn btn-lg btn-success">Go back to Index Page</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
    </ul>
    
  </body>
  </html>