<% include ../partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-fluid" src="https://edumag.net/wp-content/uploads/2015/11/internship.jpg">
                    <div class="content">
                        <div class="caption text-center">
                            <h4>ASDS</h4>
                        </div>
                        <p>
                            <p>------------------</p>
                            Bacon ipsum dolor amet drumstick shoulder short loin pork loin picanha spare ribs, tri-tip pork doner burgdoggen. Buffalo brisket cow bresaola. Alcatra sausage shank t-bone jerky. Spare ribs filet mignon short loin, pig t-bone venison buffalo chicken flank pork belly tenderloin porchetta. Meatloaf shoulder buffalo, jerky shankle landjaeger salami alcatra doner kielbasa pork belly.
                            Cow landjaeger chuck tenderloin ham picanha kevin doner filet mignon t-bone bresaola. Sausage biltong pork,burgdoggen fatback jerky hamburger. Tenderloin venison shoulder, filet mignon turkey flank cow chicken pork. Shoulder shank spare ribs alcatra, filet mignon ground round kielbasa swine short ribs.
                            Pig tri-tip ground round sausage pork sirloin jerky fatback hamburger kielbasa. Ground round tri-tip andouille, filet mignon beef bresaola sausage bacon ham hock. Shoulder jowl jerky buffalo rump, ham pork loin ribeye beef ribs. Andouille pig meatloaf chicken sausage pork chop, brisket spare ribs buffalo landjaeger. Frankfurter t-bone rump turkey filet mignon. Pork chop ground round burgdoggen strip steak corned beef venison capicola cupim jerky porchetta ham hock meatloaf frankfurter landjaeger. Tri-tip shoulder landjaeger, ham hock sausage leberkas pork belly spare ribs brisket salami venison ham kevin beef ribs.
                            beye rump doner salami jerky tongue jowl chuck biltong. Landjaeger pork loin biltong picanha chuck cupim cow tenderloin shankle. Tongue cow kielbasa meatball. Pork belly ham flank bacon.
                            Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<% include ../partials/footer%>
